.searchbox input{
    padding: 2px;
    border-radius: 5px;
    background-color:#C0C0C0;
}
.searchbox input::placeholder{
    
    color: black;
    font-family: cursive;
}
.indexbox{
    box-shadow: '0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.25)';
    padding: 1rem;
    margin:1rem 3rem 0 3rem;
    border-radius: 5px;
}
.categorybox{
    box-shadow: '0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.25)';
    padding: 1rem;
    margin:1rem 3rem 0 3rem;
    border-radius: 5px;
}
.specificcategorybox{
    box-shadow: '0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.25)';
    padding: 1rem;
    margin:1rem 3rem 0 3rem;
    border-radius: 5px;
}